- page_title "Milestones"
- header_title group_title(@group, "Milestones", group_milestones_path(@group))

.top-area
  = render 'shared/milestones_filter'

  .nav-controls
    - if can?(current_user, :admin_milestones, @group)
      = link_to new_group_milestone_path(@group), class: "btn btn-new" do
        = icon('plus')
        New Milestone

.row-content-block
  Only milestones from
  %strong #{@group.name}
  group are listed here.

.milestones
  %ul.content-list
    - if @milestones.blank?
      %li
        .nothing-here-block No milestones to show
    - else
      - @milestones.each do |milestone|
        = render 'milestone', milestone: milestone
  = paginate @milestones, theme: "gitlab"
